@media screen and (max-width: 991px){

	.navbar-nav li.nav-item
	{
		margin:15px 0;
		text-align: center;
	}


	.services-content .row .col-lg-4
	{
		margin-top: 60px;
	}

	.services-content .row .col-lg-4:nth-child(1)
	{
		margin-top: 0;
	}

	.post-image
	{
		height: 400px;
	}
	.main-content {
		width: 600px;
		height: 300px;
		padding: 25px;
	}
	.main .type {
		font-size: 44px;

	}
	.main .Do-research {
		font-size: 40px;
	}
	.cta {
		width: 205px;
	}
	.service-single .service-name {
		font-size: 17px;
	}
	.about .find-img {
		left: -50px;
	}
	.blog .blog-block  {
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 767px){

	.about .col-md-7
	{
		margin-top: 60px;
	}

	.education, .experience, .about .col-md-7,.skills
	{
		text-align: center;
	}

	.post-image
	{
		height: 350px;
	}
	.main-content {
		position: relative;
		border-radius: 120px 0;
		width: 450px;
		height: 350px;
	}
	.Ebhath-content {
		text-align: center;
	}
	.main .type {
		font-size: 35px;

	}
	.main .Do-research {
		font-size: 30px;
	}
	.cta {
		width: 180px;
	}


	
}

@media screen and (max-width: 600px){
	.post-image
	{
		height: 300px;
	}
}

@media screen and (max-width: 575px){
	.service-single
	{
		margin-bottom: 25px;
	}

}

@media screen and (max-width: 500px){
	.main .type
	{
		font-size: 25px;
	}
	.main .Do-research {
		font-size: 20px;
	}
}

@media screen and (max-width: 450px){
	.post-image
	{
		height: 250px;
	}
}