/*** reset css ****/

*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

body
{
	font-size: 15px;
	color: #777;
	line-height: 1.5;
	font-family: 'Cairo';
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track:vertical {
background: linear-gradient(to left,#3637e0,#60c4fc);
}

::-webkit-scrollbar-track:horizontal {
background: linear-gradient(to left,#3637e0,#60c4fc);
}

::-webkit-scrollbar-thumb {
background: #60c4fc;  
border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
background: #60c4fc;  
}


.loader
{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #fff;
	display: flex;
	align-items:center;
	justify-content:center;
}

.animation
{
	opacity: 0;
}

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    }

p
{
	line-height: 2;
}

a:hover
{
	text-decoration: none;
}

h3
{
	//color: #333;
	font-size: 36px;
	//font-weight: bold;
}

h5
{
	//color: #333;
	font-size: 22px;
	//font-weight: bold;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: bold;
	color: #333;
}

.section-padding
{
	padding: 120px 0;
}

.full-width
{
	width: 100%;
}

.primary
{
	color: #e84118;
}

a, a:hover
{
	color: #fff;
}

.svg-bottom
{
	position: absolute;
	width: 100%;
	bottom: -1px;
	left: 0;
	z-index: 2;
}

.svg-top
{
	position: absolute;
	width: 100%;
	top: -1px;
	left: 0;
	z-index: 2;
}

.overlay
{
	background-color: rgba(0,0,0,0.8);
}

/*** header styles ***/

header {
    background-color: #ffffffc4;
    position: fixed;
    z-index: 100;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a.navbar-brand
{
	font-size: 22px;
	font-weight: bold;
}

.navbar
{
	padding: 10px 0;
}
.listitems-color {
	color: #FFF;
}
nav a,nav a:hover
{
	color: #456aea;
}

li.nav-item a.nav-link
{
	position: relative;
	display: inline-block;
}

li.nav-item a.nav-link::after
{
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 0%;
	height: 2px;
	background-color: #456aea;
	content: '';
	transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

li.nav-item.active a.nav-link::after
{
	width: 100%;
}

li.nav-item a.nav-link:hover::after
{
	width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link
{
	padding: 0;
}

li.nav-item
{
	margin: 0 15px;
}

li.nav-item:last-child
{
	margin-right: 0;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

button:focus
{
	outline: none;
}

.Ebhath-logo {
	width: 140px;
	height: 80px;
}


/*** main css styles ***/

.main
{
	width: 100%;
	height: 680px;
	background-color: #dff3ff;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	position: relative;
	overflow: hidden;

}

.main::before
{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.main-content
{
	width: 820px;
	height: 400px;
	background-image: linear-gradient(to left,#3637e0,#60c4fc);
	border-radius: 120px 0 0 120px;
	position: absolute;
	padding: 50px;
	right: 0;
	top: 185px;
	z-index: 1;
	box-shadow: 0px 15px #90a6cf;
	overflow: hidden;

}

.Ebhath-content {
	margin-left: 28px;
	margin-top: 20px;
}

.main-content .welcome
{
	font-weight: bold;
	font-size: 22px;
}

.main-content .type
{
	font-size: 60px;
}

.main-content .social-icons
{
	position: absolute;
	bottom: 0;
}

.main-content .social-icons a
{
	padding: 0 10px;
	color: #fff;
}

.main-content .social-icons a:hover
{
	color: #fff;
}

.cta
{
	margin-right: 15px;
	padding: 8px;
	text-align: center;
	font-size: 25px;
	width: 270px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	border: 5px solid #FFF;
	border-radius: 50px;

}

/*Start Social Icons */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
	position: absolute;
	bottom: 5px;
	right: 40px;
	text-align: center;

}

.social-icons a {
    border: 1px solid #cccccc;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    padding: 6px;
    width: 40px;
    height: 40px;
    font-size: 18px;
	background: #3944e2; 
}


/* End Social Icons*/

.type .mytext
{
	font-weight: bold;
}

.Do-research {
	font-size: 55px;
    margin-top: -15px;
    padding: 0;
}

.secondary-content {
	position: absolute;
    left: 35px;
    transform: rotate(19deg);
}

.secondary-content > .col-imgs > img {
	margin: 30px;
	border-radius: 30%;
    animation: flowImages 15s linear infinite;
	width: 200px;
	height: 200px;

}

@keyframes flowImages {
    0% { transform: translateY(100%); }
    100% { transform: translateY(-100%); }
}

.icon-container {
	display: flex;
    flex-wrap: wrap;
	gap: 21.5%;
}

.info-section {
    text-align: center;
    width: 19%;
}

.info-box {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.56);
	height: 180px;
	border-radius: 30px;
}

.icon {
    background-size: cover;
    height: 170px;
}

.category {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

.number {
    font-size: 24px;
    color: #666;
    margin-top: 5px;
}


/** about styles **/
.about {
	z-index: 5000;
	background-color: #dff3ff;
}


.about h3
{
	margin-bottom: 15px;
}
.about h5
{
	margin-bottom: 20px;
}

.about-social-icons
{
	margin-top: 35px;
}

.about-social-icons a
{
	color: #333;
	margin:0 10px;
}

.about-contact
{
	padding: 10px 60px;
	font-size: 15px;
	font-weight: bold;
	display: inline-block;
	color: #333;
	border: 1px solid ;
	margin-top: 40px;
	position: relative;
	overflow: hidden;
}

.about-contact::after
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: -100%;
	content: '';
	border: 1px solid linear-gradient(to left, rgb(54, 55, 224), rgb(96, 196, 252));
    background: linear-gradient(to left, rgb(54, 55, 224), rgb(96, 196, 252));
	transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	z-index: -1;
}

.about-contact:hover::after
{
	left: 0;
}

.lab-img {
	position: absolute;
    z-index: 20;
    right: 40px;
	border-radius: 27%;
	width: 200px;
	height: 200px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

.find-img {
	width: 185px;
    height: 185px;
    position: absolute;
    left: 95px;
    z-index: 50;
    top: 50px;
	border-radius: 27%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.books-img {
	position: absolute;
    top: 160px;
    width: 150px;
    z-index: 70;
    height: 150px;
    right: 70px;
	border-radius: 27%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

/** exp-skills styles **/

.exp-skills
{
	background:url(img/about-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	color: #ddd;
}

.exp-skills::before
{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,98,102,0.9);
}

.exp-skills .section-header
{
	width: 100%;
	position: relative;
}

.exp-skills .section-header::before
{
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 3px;
	background-color: #fff;
}


.exp-skills h3,.exp-skills h5
{
	color: #fff;
}

.exp-skills h3
{
	position: relative;
	display: inline-block;
}

.exp-skills h3::before
{
	position: absolute;
	content: '';
	width: 100%;
	height: 5px;
	left: 0;
	bottom: -5px;
	background-color: #e84118;
}

.exp-skills h5
{
	margin-top: 30px;
}

.exp-skills ul
{
	list-style: none;
}

.exp-skills h6
{
	color: #ddd;
}


.skills h6
{
	margin:30px 0;
}
.progress-content
{
	width: 100%;
	height: 20px;
	background-color: rgba(0,0,0,0.7);
	border-radius:20px;
}

.skill-progress
{
	height: 100%;
	background-color: #e84118;
	width: 1%;
	border-radius: 20px;
	position: relative;
}

.skill-progress::before
{
	position: absolute;
	top: -40px;
	right: -7px;
	content: attr(data-progress);
	color: #333;
	background-color: #fff;
	padding: 1px 5px;
	font-size: 12px;
	border-radius: 10px;
}

.skill-progress::after
{
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	top: -15px;
	right: 0px;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-top:6px solid #fff;
}


/*** service styles ***/
.col-lg-4 {
	display: -webkit-inline-box;
    gap: 165px;

}

.services-content
{
	margin: 60px 0;
}

.service-single .service-name
{
	margin:10px 0;
}

.service-icon
{
	line-height: 60px;
	color: #fff;
	border-radius: 50%;
}

.service-icon .fa
{
	transform:scale(1)rotateY(0deg);
	transition:all 0.5s ease;
	font-size: 35px;
}

.service-description {
	font-size: 25px;
	font-weight: bold;
	color: #fff;
}

.service-name {
	color: #fff;
}

.service-single {
    width: 260px;
    height: 220px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 55px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    transition: all 0.5s ease 0s;
    background: linear-gradient(to left, rgb(54, 55, 224), rgb(96, 196, 252));
}


.services-content .row:nth-child(2)
{
	margin-top: 60px;
}
.service-single:hover
{
	background-color: #fafafa;
	//color: #ddd;
}

.service-single:hover h5
{
	//color: #fff;
}

.service-single:hover .service-icon
{
	//color: #333;
	//background-color: #fff;
}

.service-single:hover .fa
{
	transform:scale(1.3)rotateY(180deg);
}


.courses-name {
	color: #FFF;
	margin: 60px 0;
}

.courses-content {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.course {
	border-radius: 15px;
}

.course:hover {
	transition: all ease-in-out 1s;
    box-shadow: rgba(0, 0, 0, 1.35) 0px 5px 15px;
	transform: rotateY(180deg);
	cursor: pointer;
}
.icons:hover {
	box-shadow: rgba(0, 0, 0, 1.35) 0px 5px 15px;

}


/** portfolio styles **/

.portfolio
{
	background-color: #dff3ff;
	position: relative;
}

.portfolio::before
{
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(243,156,18,0.7);
}


.portfolio-item
{
	margin: 5px 0;
	overflow: hidden;
}

.item-content
{
	width: 100%;
	position: relative;
	border: 3px solid #fff;
	overflow: hidden;
}

.item-content img
{
	width: 100%;
	transition: all 0.5s ease;
	transform:scale(1)rotate(0deg);
}

.portfolio-item.col-md-3 img
{
	height: 200px;
}

.portfolio-item.col-md-6 img
{
	height: 400px;
}

.img-overlay
{
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	//background-color: #fff;
	//color: #333;
	content: '';
	overflow: hidden;
}

.img-overlay::before
{
	position: absolute;
	height: 50%;
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	content: '';
	left: -110%;
	top: 0;
	transition:all 0.5s ease;
}

.img-overlay::after
{
	position: absolute;
	height: 50%;
	width: 100%;
	background-color: rgba(232,65,24,0.8);
	content: '';
	right: -110%;
	bottom: 0;
	transition:all 0.5s ease;
}

.portfolio-item .info
{
	z-index: 2;
	position: relative;
	font-weight: bold;
}

.portfolio-item .info .description
{
	color: #e84118;
	opacity: 0;
	top: -20px;
	position: relative;
	transition:all 0.5s ease;
}

.portfolio-item .info .item-icon
{
	color: #fff;
	opacity: 0;
	bottom: -20px;
	position: relative;
	transition:all 0.5s ease;
}



.portfolio-item:hover .item-content .img-overlay::before
{
	left: 0;
}

.portfolio-item:hover .img-overlay::after
{
	right: 0;
}

.portfolio-item:hover .info .item-icon
{
	opacity: 1;
	bottom: -5px;
}

.portfolio-item:hover .info .description
{
	opacity: 1;
	top: -5px;
}

.portfolio-item:hover .item-content img
{
	transform:scale(1.2)rotate(10deg);
}

ul.filter
{
	list-style: none;
	margin: 60px 0;
}

ul.filter li
{
	display: inline-block;
	padding:3px 10px;
	color: #fff;
	background-color: #333;
	font-size: 15px;
	font-weight: bold;
	border-radius: 10px;
	margin:0 10px;
	cursor: pointer;
}

ul.filter li.filter-active
{
	background-color: #e84118;
}

.portfolio .section-header
{
	z-index: 2;
}

.portfolio ul.filter
{
	z-index: 2;
}



/* Team Section */
.team {
	position: relative;
	background-color: #fff;
	color: #ddd;
}

/** testimonials styling **/
.testimonials
{
	background:url(img/robina-weermeijer-3KGF9R_0oHs-unsplash.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	color: #ddd;
	margin: 120px 0;

}

.testimonials::before
{
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 0;
}

.testimonials .section-header,.testimonials .testimonial-container
{
	z-index: 1;
}

.testimonials h3
{
	color: #fff;
}

.testimonial-container
{
	margin-top: 60px;
}

.testi-img
{
	width: 100px;
	height: 100px;
	padding: 5px;
	border: 1px solid #ddd;
	margin: 0 auto;
	background: linear-gradient(to left,#3637e0,#60c4fc);
	border-radius: 20px;
}

.testi-img img
{
	width: 100%;
	height: 100%;
	display: inline-block;
}

.testi-name
{
	margin-top: 30px;
	font-weight: bold;
	font-size: 18px;
	color: #3637e0;
}

.testimonial-item-content .position
{
	font-weight: bold;
	color: #3637e0;
}

.testimonial-content
{
	margin-top: 30px;
	font-style: italic;
}
.headings, h3 {
	color: #3944e2;
}
.owl-carousel button.owl-dot
{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin:0 5px;
	background-color: #fff;
}

.owl-carousel button.owl-dot.active
{
	background: linear-gradient(to left,#3637e0,#60c4fc);
}

.quote .fa
{
	font-size: 30px;
	color: #fff;
}

/** blog styles **/

.blog .section-header
{
	margin-bottom: 60px;
}

.post-image
{
	width: 100%;
	height: 250px;
	position: relative;
	overflow: hidden;
}

.post-image img
{
	width: 100%;
	height: 100%;
	transform:scale(1);
	transition:all 0.5s ease;
}

.post-image .post-category
{
	position: absolute;
	top: 15px;
	right: 15px;
	color: #fff;
	background-color: #e84118;
	padding: 5px 20px;
	font-size: 13px;
	font-weight: bold;
	border-radius: 20px;
}

.post-name
{
	margin-top: 30px;
	margin-bottom: 10px;
	padding-left: 20px;
}

.post-content
{
	margin-top: 20px;
	padding-top: 0;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

.author-name
{
	font-weight: bold;
	color: #e84118;
	margin-right: 20px;
}

.post-date
{
	color: #333;
	font-weight: bold;
	margin-left: 20px;
}

.post-details
{
	padding-left: 20px;
}

.post-inner
{
	border:1px solid #ddd;
}

.blog-content:hover .post-image img
{
	transform:scale(1.2);
}

/** contact styles **/

.contact
{
	position: relative;
	background:url(img/contact-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #ddd;
}

.contact h3
{
	color: #fff;
}

.contact::before
{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(47,54,64,.85);
}

.contact-top, .contact-form
{
	margin-top: 60px;
}

.contact-location,.contact-email,.contact-phone
{
	font-weight: bold;
	color: #fff;
}

input,textarea
{
	width: 100%;
	background-color: rgba(0,0,0,0);
	color: #ddd;
	border: 1px solid #ddd;
	margin-bottom: 40px;
}

input:not([type="submit"])
{
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}

textarea
{
	padding-top: 10px;
	padding-left: 20px;
}

#submit
{
	width: auto;
	max-width: 50%;
	padding: 8px 60px;
	border: none;
	color: #fff;
	background: linear-gradient(to left,#3637e0,#60c4fc);
	cursor: pointer;
}

.contact i.fa
{
	margin-right: 15px;
}

footer
{
	height: 40px;
	line-height: 40px;
	width: 100%;
	color: #fff;
	background: linear-gradient(to left,#3637e0,#60c4fc);
}


